**/node_modules
**/env-pibiti
**/.conda
**/tmp
trained_weights_final.h5
**/trained_weights_final.h5


**/.eggs/
**/develop-eggs/
**/eggs/
**/parts/
**/share/python-wheels/
**/wheels/
.git
.github

MANIFEST

*$py.class
*.egg
*.egg-info/
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.sage.py
*.spec

# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
# Cache & Temporary
# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

**/.mypy_cache/
**/.pyre/
**/.pytype/
**/.ruff_cache/
**/__pycache__/
*.pyc
*.pyo
*.pyd
**/cython_debug/
**/downloads/

.ipynb_checkpoints
.installed.cfg

celerybeat-schedule
celerybeat.pid
pip-delete-this-directory.txt

# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
# Dependencies
# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

**/__pypackages__/
**/ENV/
**/env/
**/env.bak/
**/venv/
**/.venv/
**/venv.bak/
**/virtualenv/

# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
# Logs & Debug
# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

pip-log.txt

# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
# Testing
# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

**/.cover/
**/.hypothesis/
**/.nose/
**/.nox/
**/.pytest_cache/
**/.tox/
**/cover/

.nosetests.xml

# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
# Tools & Configuration
# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

**/.hatch/
**/.instance/
**/.profile_default/
**/.pybuilder/
**/.pyenv/
**/.pypackages/
**/.uv/

.dmypy.json
.pdm.toml
.Python
.scrapy
.webassets-cache