# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
# .vscode
*.vscode

.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Python
__pycache__
.venv
env.csv
env-pibiti
cache
#pesos pra execucao da YOLov3
FLASK/trained_weights_final.zip.*
trained_weights_final.*
tmp
db
flask_session
