body {
    --primary-clor: #fff;
    --sec-color: #6113c6;
    --terc-color: #792359;
    --quart-color: #3a0d75;
    --quint-color: #0e0021;

    font-family: 'Montserrat', Inter, sans-serif;
    margin: 0;
    background-color: #fff;
}

#app {
    display: flex;
    font-weight: normal;
    background-color: white;
    flex-direction: column;
    height: auto;
    color: black;
    width: 100%;
    overflow-x: hidden;
}
