@import './base.css';

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

body {
  font-family: 'Montserrat', Inter;
  margin: 0;
  background-color: red;
  display: flex;
  align-items: start;
  justify-content: center;
  /* overflow-x: hidden; */
}

html, body, #app {
  width: 100%;
  max-width: 100%;
}

#app {
  --app-width: 98%;
  display: flex;
  font-weight: normal;
  background-color: white;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  color: black;
  width: var(--app-width);
} 
