@import 'tailwindcss';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --cor-paleta1: #6113c6;
    --cor-paleta2: #792359;
    --cor-paleta3: #260b4a;
    --cor-paleta4: #0e0021;
}

body {
    font-family: 'Montserrat', 'Roboto Serif-Regular', Helvetica, sans-serif;
    margin: 0;
    background-color: #001b2c;
}

#app {
    display: flex;
    font-weight: normal;
    background-color: white;
    flex-direction: column;
    height: auto;
    color: black;
    width: 100%;
    overflow-x: hidden;
}

/* Botao de acao do site */
@layer components {
    .h1-text {
        @apply text-xl sm:text-4xl;
    }
    .botao-acao {
        @apply w-full h-16 inline-flex justify-center items-center
            rounded-[4vmin] px-2
            font-semibold text-white
            text-lg
            bg-[hsl(267,81%,37%)]
            transition duration-300 ease-out
            hover:scale-105 hover:brightness-125
            focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500
            disabled:bg-[#d0a7f6] disabled:cursor-not-allowed disabled:pointer-events-none;
    }
    .botao-header {
        @apply cursor-pointer text-white text-[clamp(13px,1.8vmin,20px)]
            bg-transparent w-fit no-underline
            transition-all duration-300 p-[1vmin]
            inline-block text-center
            hover:bg-[hsla(267,81%,37%,0.63)] hover:font-semibold hover:scale-110
            disabled:cursor-default disabled:opacity-50;
    }
}
