/* General Styles */
/* * {
    word-break: break-word;
}
body {
    display: block;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.frame-pagina {
    display: block;
    padding: 10px 5px;
} 


main {
    display: block;
    text-align: center;
    margin: 20px 0;
}
.logo {
    width: 200px;
    height: 100px;
}

.titulo-pdf {
    color: #3A0D75;
    text-align: right;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: normal;
}

.dados {
    display: block;
    margin: 20px 0;
}

.info-medico {
    display: block;
    margin: 20px 0;
}

.nome-data, .nome-crm {
    display: block;
    margin: 10px 0;
}

.nome-medico {
    color: #000;
    text-align: right;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: normal;
}

.crm {
    color: #9665FF;
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: normal;
}

.data {
    color: #000;
    text-align: right;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: normal;
}

.nome-paciente {
    color: #2C006F;
    text-align: right;
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: normal;
}

.dados-diag table {
    width: 100%;
    border-collapse: collapse;
    color: black;
}

.lista-vel {
    list-style-type: circle;
}

.div-grafico {
    display: block;
    padding: 4px;
    text-align: center;
}

.img-grafico {
    width: 100%;
    height: auto;
}

footer {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.logos-rodape {
    display: block;
    margin: 10px 0;
}




@page {
    size: A4;
}


@media print {
    
    body {
        padding: 0;
        margin: 0;
    }
    
    .titulo-pdf, .nome-medico, .data, .nome-paciente {
        font-size: 24px;
    }
    
    .dados-diag table {
        border: 1px solid black;
    }
    
    footer {
        page-break-after: always;
    }
    
    .logo, .logo-vip, .logo-ufma, .logo-nca {
        width: auto;
        height: auto;
    }
}
*/
/* .logo-vip, .logo-ufma, .logo-nca {
    display: inline-block;
    margin-right: 40px;
    height: auto;
} */

.logo-vip{
    width: 1000px;
    height: 1000px;
}